[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
pandasdmx = "*"
plotly = "*"
dash = "==1.11.0"
gunicorn = "*"
numpy = "*"
xlrd = "*"
dash-bootstrap-components = "*"
scout-apm = "*"

[requires]
python_version = "3.8"
